*{
    padding: 0px;
    margin: 0px;
}

body {
    font-family: serif;
    font-size: 14px;
    line-height: 24px;
}

.container {
    width: 1140px;
    margin: 0px auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

a, a:hover {
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: 0px auto;
}

.navbar {
    width: 90%;
    float: left; 
    display: block;
    text-align: center;
    margin: 40px 0 0;
}

.navbar li {
    list-style: none;
    display: inline-block;

}

.navbar li a {
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 20px;
    color: #2c3e50;
}

.navbar li a:hover {
    color: #2980b9;
}

.header {
    width: 100%;
    height: 150px;
    float: left;
    background: #fff;
}

.logo {
    width: 10%;
    float: left;
    margin: 20px 0 0;
}

.footer {
    width: 100%;
    height: 300px;
    background: #2c3e50;
    float: left;
}

.about {
    width: 100%;
    float: left;
    padding: 80px 0px;
    background: #fff;
}

.box1 {
    width: 30%;
    float: left;

}

.box1 h2 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 15px
}

.box1 p {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 28px;
    font-weight: 300;

}

.box2 {
    width: 70%;
    float: left;
}

.intro-class {
    width: 100%;
}

.colors .box1 {
    width: 33.33%;
    height: 600px;
    background: #f1c40f;
    float: left;
    
}

.colors .box2 {
    width: 33.33%;
    height: 600px;
    background: #e67e22;
    float: left;
    
}

.colors .box3 {
    width: 33.33%;
    height: 600px;
    background: #e74c3c;
    float: left;
    
}

.btn {
    width: 120px;
    height: 40px;   
    color: #fff;
    background-color: rgb(255, 0, 68);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #2c3e50;
    font-size: 1rem;
    transition: ease-out 0.3s;
    outline: none;
        
}

.btn:hover {
    box-shadow: inset 300px 0 0 0 #2c3e50;
    
}


